@model List<HastaneRandevuSistemi.Models.KullaniciModel>

@{
    ViewData["Title"] = "Hasta";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
     @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
}

<h1>@Localizer["hasta"]</h1>

 <p>
    <a asp-action="HastaEkle">@Localizer["new"]</a>
</p>
<div class="card-body">
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Localizer["durum"]
            </th>
            <th>
                @Localizer["ad"]
            </th>
            <th>
                @Localizer["soyad"]
            </th>
            <th>
                TC
            </th>
            <th>
                @Localizer["tarih"]
            </th>
            <th>
                @Localizer["tel"]
            </th>
            <th>
                Mail
            </th>  
            <th>
                @Localizer["cinsiyet"]
            </th> 
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.KullaniciId
            </td>

            <td>
                @item.state
            </td>
            <td>
                 @item.KullaniciAd
            </td>
            <td>
                @item.KullaniciSoyad
            </td>
            <td>
                @item.KullaniciTcNo
            </td>
            <td>
                @item.KullaniciDogumTarihi
            </td>
            <td>
                @item.KullaniciTelefon
            </td>
            <td>
                @item.KullaniciMail
            </td>
            <td>
                @item.KullaniciCinsiyet
            </td>
                    
            <td>
             <a asp-action="HastaEdit" asp-route-id="@item.KullaniciId">@Localizer["edit"]</a> |
             <a asp-action="HastaDelete" asp-route-id="@item.KullaniciId">@Localizer["sil"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>