@model HastaneRandevuSistemi.Models.KullaniciModel

@{
    ViewData["Title"] = "DoktorEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
}

<h1>@Localizer["new"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HastaEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="KullaniciAd" class="control-label">@Localizer["ad"]</label>
                <input asp-for="KullaniciAd" class="form-control" />
                <span asp-validation-for="KullaniciAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciSoyad" class="control-label">@Localizer["soyad"]</label>
                <input asp-for="KullaniciSoyad" class="form-control" />
                <span asp-validation-for="KullaniciSoyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciTcNo" class="control-label">Tc</label>
                <input asp-for="KullaniciTcNo" class="form-control" />
                <span asp-validation-for="KullaniciTcNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciTelefon" class="control-label">@Localizer["tel"]</label>
                <input asp-for="KullaniciTelefon" class="form-control" />
                <span asp-validation-for="KullaniciTelefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciMail" class="control-label">Mail</label>
                <input asp-for="KullaniciMail" class="form-control" />
                <span asp-validation-for="KullaniciMail" class="text-danger"></span>
            </div>
                        <div class="form-group form-check">
                <label asp-for="KullaniciCinsiyet" class="control-label">@Localizer["cinsiyet"]</label>
                <select name="KullaniciCinsiyet" asp-for="KullaniciCinsiyet" class="control-label" >
                   
                        <option value="Erkek" class="control-label">@Localizer["erkek"]</option>
                        <option value="Kadın" class="control-label">@Localizer["kadin"]</option>
                    
                </select>
                <span asp-validation-for="KullaniciCinsiyet" class="text-danger"></span>
            </div>

             <div class="form-group">


                <label asp-for="KullaniciDogumTarihi" class="control-label">@Localizer["dogum"]</label>
                <input asp-for="KullaniciDogumTarihi" id="tarih"  class="form-control" />
                <span asp-validation-for="KullaniciDogumTarihi" class="text-danger"></span>

                <script>
                 document.getElementById('tarih').addEventListener('input', function () {
                     var selectedDate = new Date(this.value);
                        var currentDate = new Date();

                    if (selectedDate > currentDate) {
                    alert("Gelecek tarih seçemezsiniz.");
                    this.value = ''; // Tarihi temizle
                 }
        });
    </script>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciSifre" class="control-label">@Localizer["sifre"]</label>
                <input asp-for="KullaniciSifre" class="form-control" />
                <span asp-validation-for="KullaniciSifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciSifreTekrar" class="control-label">@Localizer["tekrar"]</label>
                <input asp-for="KullaniciSifreTekrar" class="form-control" />
                <span asp-validation-for="KullaniciSifreTekrar" class="text-danger"></span>
            </div>
            @ViewBag.msg
            <div class="form-group">
                <input type="submit" value=@Localizer["kaydet"] class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Hasta">@Localizer["don"]</a>
</div>

